.loginbody {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4E9E2;


    .loginbg {
        background-color: rgba(255, 255, 255, 0.479);
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 370px;
        height: 400px;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    
    /* Style the input fields */
    .logininput{
        background-color: transparent;
        font-family: "Montserrat", sans-serif;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 8px;
        width: 300px;
        height: 40px;
        box-sizing: border-box;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    
    /* Style the labels */
    label {
        display: block;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .username, .loginusername, .loginpassword, .loginbottom, .loginbottom2{
        background-color: transparent;
    }
    .loginbottom{
        font-size: 13px;
    
    }
    .password{
        background-color: transparent;
    }
    
    
    /* Style the submit button */
    button {
        font-family: "Montserrat", sans-serif;
        background-color: lightgreen;
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        padding: 10px 15px;
        font-size: 16px;
        width: 100px;
        box-sizing: border-box;
        
    }
    
    /* Add some hover effects for the button */
    button:hover {
        background-color: rgb(172, 238, 172);
    }
    
    p{
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        margin-bottom: 20px;
    }
    .signuplink{
        color: blue;
    }
    .loginbottom{
        margin-top: 18px;
        font-size: 13px;
    }
    .loginerror{
        font-size: 13px;
        color: red;
    }
}



